@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap');

body{
    line-height: 60px;
    background-color: #e8e8e8;
}

label{
    color: #e8e8e8;
    font-size: 30px;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

input{
    padding: 10px;
    margin: 10px;
    border: none;
}


button{
    color: #EC4D37;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    font-family: 'Big Shoulders Stencil Display', cursive;
}


.container{ 
    padding: 50px;
    margin: 100px auto;
    width: 30%;
    text-align: center;
    background-color: #f05454;
}